.ul {
  margin: 0;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-color: rgb(165, 119, 114);
}

.li {
  font-size: 30px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.list {
  color: white;
  text-align: center;
}
